.btn {
  display: inline-flex;
  align-items: center;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;

  :not([class*="-none"]) + .Button__content:nth-child(2) {
    margin-left: 0.75rem;
  }

  &[class*="Button_icon-only-"] {
    padding-left: 0.375rem;
    padding-right: 0.375rem;

    &[class*="_icon-only-round"] {
      border-radius: 50%;
    }
  }

  &:not([class*="Button_icon-badge"]) {

    .Icon {
      vertical-align: baseline;
      font-size: 1.65em;
    }

    &[class*="Button_icon"] {
      padding-top: 0.313rem;
      padding-bottom: 0.313rem;

      &[class*="Button_icon-only-"] {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }
    }
  }

  &[class*="Button_icon-badge"] {

    &[class*="Button_icon-only-"] {
      padding: 0.489rem 0.489rem;
    }

    .Icon {
      top: 0;
    }

    &[class*="btn-outline-"]:hover {

      .Icon.text-white {
        color: black!important;
        background-color: white!important;
        mix-blend-mode: screen;
      }

      .Icon.text-dark {
        //background-color: red !important;
        color: white!important;
        background-color: black!important;
        mix-blend-mode: multiply;
      }
    }
  }
}

