.Icon {

  &.Icon_badge {
    padding-left: 0.35em;
    padding-right: 0.35em;
  }

  &.Icon_badge-transparent-icon:not(.Icon_badge-color-inverted) {
    //color: transparent!important;

    //color: black !important;
    //background-color: white !important;
    //mix-blend-mode: screen;
  }

  &.Icon_badge-transparent-icon.Icon_bg-dark {
    color: black !important;
    background-color: white !important;
    mix-blend-mode: screen;
  }

  &.Icon_badge-transparent-icon.Icon_bg-light {
    color: white !important;
    background-color: black !important;
    mix-blend-mode: multiply;
  }
}